body{
    margin: 0%;
}
section{
    border: 4px dotted greenyellow;
    background-color: yellow;
    height: 600px;
    width: 800px;
    margin: 0%;
}       
#one{
    border: 4px solid black;
    background-color: green;
    height: 80px;
    width: 20%;
    margin: 10px;
    display: block;
}
#two{

    border: 4px solid black;
    background-color: blue;
    height: 80px;
    width: 20%;
    display: block;
}