h1{
    text-align: center;
    text-transform: uppercase;
}
#main{
    border: 2px solid black;
    background-color: rgb(0,0,0);
    height: 500px;
    width: 90%;
    margin: 10px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#main div{
    height: 200px;
    width: 200px;
}
#reverse{
    border: 2px solid black;
    background-color: rgb(0,0,0);
    height: 500px;
    width: 4opx;
    margin: 10px 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#reverse div{
    height: 200px;
    width: 200px;
}
#space{
    border: 2px solid black;
    background-color: rgb(0,0,0);
    height: 500px;
    width: 4opx;
    margin: 10px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#space div{
    height: 200px;
    width: 200px;
}
#space1{
    border: 2px solid black;
    background-color: rgb(0,0,0);
    height: 500px;
    width: 4opx;
    margin: 10px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#space1 div{
    height: 200px;
    width: 200px;
}