h1{
    text-align: center;
    text-transform: uppercase;
}
#main{
    border: 2px solid black;
    background-color: rgb(0,0,0);
    height: 500px;
    width: 90%;
    margin: 10px 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    ;
}
#main div{
    height: 200px;
    width: 200px;
    flex-basis: 400px
}
div:nth-of-type(3){
 flex-grow: 2;
 flex-shrink:3;
}
main{
    border: 2px solid black;
    height: 400px;
    width: 400px;
    margin: auto;
    display: flex;
}
main .sidebar{
    background-color: green;
    height: 200px;
    width: 200px;
    border: 2px solid white;
    flex:1 100px;
}
main .mid{
    background-color: yellow;
    height: 200px;
    width: 200px;
    border: 2px solid white;
}
main .sidebar1{
    background-color: green;
    height: 200px;
    width: 200px;

}