html{
    box-sizing: border-box;
    font-family: open sans,sans-serif;
}
body{
    background-color: #06a9ff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
#main{
    border: 2px solid white;
    background-color: white;
    border-radius:10px;
    padding: 10px 20px;
    max-width: 960px;
    display:flex;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
}
#bike1{
    border-bottom: 2px solid #e1f1ff;
}
#bike2{
    border-bottom: 2px solid  #e1f1ff;
}
.img{
    margin-bottom: 25px;
    max-width: 100%;
}
.img1{
    margin-bottom: 25px;
    max-width: 100%;
    height: 186px;
}
h2{
    font-weight:600;
    color:rgb(88, 88, 255);
    letter-spacing:1px;
    border-bottom: 1px solid #e1f1ff;
}
h3,h4{
    margin:50px 0 25px;
    color: #888;
}
#btn{
    color: blue;
    background-color: #e1f1ff;
    width: 100px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: all 200ms ease-in-out;
}
#btn:hover{
    color:black;
    background-color: white;
    cursor: pointer;
}
@media (min-width:900px){
    #main{
        flex-direction: row;
    }
    #bike1{
        border-bottom: none;
        border-right:1px solid #e1f1ff ;
    }
    #bike2{
        border-bottom: none;
        border-right: 1px solid #e1f1ff;
        padding: 25px 50px;
    }
}