section{
    border:4px solid black;
    width: 50%;
    height: 800px;
    background-color: yellowgreen;
}
#one{
    border:2px solid green;
    width: 400px;
    height:400px;
    background-color: white;
    opacity: 0.5;
}
#two{
    border: 2px solid black;
    width: 200px;
    height:200px;
    background-color:rgba(200,200,20,78);
    opacity: 0.7;
}